
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
} 

/* shered style */
.btn-primary:hover{
  transform: scale(1.3);
  transition: 1.8s;
  border: 2px solid white;
  color: aqua;
  cursor: pointer;
}
.card-btnn:hover{
  transform: scale(1.3);
  transition: 1.8s;
  border: 2px solid white;
  color: aqua;
  cursor: pointer;
}
.card-btn:hover{
  transform: scale(1.3);
  transition: 1.8s;
  border: 2px solid blue;
  color: black;
  cursor: pointer;
}

a:hover{ 
  
  transform: scale(1.2);
  transition: 1.9s;
  border: 1px solid red;
  background-color: red;;
  padding: 9px 20px;
}

.nav-section img:hover{
  transform: rotate(360deg);
  transition: 2s;
}




.header-section{
  width:100%;
height: auto;
background: #264653;
background-size: cover;
}


.nav-logo img {
  
  width: 30%;
}
.nav-section{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav-menu a{
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-right: 36px;
}

.log{
  padding: 9px 19px;
  border-radius: 5px;
background: #E76F51;
}
.btn-primary{
width: 168px;
padding: 10px;
border-radius: 5px;
background: #E76F51;
border: 0;
color: #FFF;
font-size: 16px;
font-weight: 500;
}


.bannar-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.bannar-title h6{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-weight: 300;
line-height: 22px; 
margin: 0;
}

.bannar-title h1{
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.bannar-title{
  width: 456px;
  color: #E0E0E0;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
margin: 0;
}

/* slider releted style */

.slider-img img{
  width: 288px;
height: 243px;
margin-right: 138px;
margin-bottom: 80px;
}
.main-slider{
 display: flex;
 justify-content: center;
 align-items: center;
}

.slider-containar h1{
  color: #000;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 48px;
font-weight: 600;
margin: 0;
margin-top: 64px;
}

.slider-containar h6{
  color: #E76F51;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-weight: 600;
text-align: center;
margin: 0;
margin-bottom: 80px;

}

/* card releted style */

.card-containar{
  margin-bottom: 100px;
}

.card-containar h1{
  color: #0A0826;
text-align: center;
font-size: 48px;
font-weight: 600;
text-transform: capitalize;
}

.card-content{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-items{
display: flex;
width: 337px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
border: 1px solid black;
padding: 20px;
box-shadow: 5px 7px 7px  rgb(189, 189, 197); 
  
}
.card-items h2{
  color: var(--text-gray-900, #18191F);
font-size: 28px;
font-weight: 600;
margin: 0;

  
}
.card-items p{
  color: #6C6C6C;
font-feature-settings: 'liga' off;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 0;
}

.card-btnn{
width: 160px;
padding: 15px;
border-radius: 5px;
background: #E76F51;
border: 0;
color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 500;


}
.card-btn{
  width: 160px;
padding: 15px;
border-radius: 5px;
border: 1px dotted black;
color:red;
background-color: white;
text-align: center;
font-size: 18px;
font-weight: 500;

}

/* client releted style */

.centar-primary{
  color: #0A0826;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-align: center;
margin-bottom: 55px;
  
}
.centar-primary span{
  color: #E76F51;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.client-containar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 150px;
}

.client-item{
  border: 1px dotted black;
  padding: 20px;
  box-shadow: 2px 2px 2px gainsboro, -2px -2px 2px gainsboro;
}





.client-item img{
width: 149px;
height: 149px;
}
.client-item p{
  width: 200px;
  color: #6C6C6C;
  text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.2px;

}
.client-item h6{
  color: #23A6F0;
font-size: 14px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.2px;
text-align: center;

}
.client-item h5{
  color:  #252B42;
font-family: Poppins;
font-size: 14px;
font-weight: 600;
letter-spacing: 0.2px;
text-align: center;
}
.checked{
  color: orange;
}


/* cd bannnar section */




.cd-containar img{
  width: 100%;
}
.cd-containar{
 display: flex;
 justify-content: center;
 gap: 140px;

}

.cd-title .title-des h1{
  color: #383838;
font-variant-numeric: lining-nums tabular-nums;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; 
}

.cd-title .title-des p{
  color: #383838;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}


.cd-h1{
  border: 1px dotted black;
  padding: 10px;
  margin: 0;
  margin-bottom: 50px;
}

.cd-title{
  width: 500px;
height: 100%;
color: #7E848C;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin-top: 80px ;

}

/* footer releted style */

.footer-section{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--default-black, #0B0D17);
  margin-top: 100px ;
}

 
.footer-img img{
  width: 135px;
height: 40px;

}
.footer-img h6{
  color: #D9DBE1;
font-family: Manrope;
font-size: 18px;
font-weight: 500;
line-height: 28px; 
}

.footer-title h6{
  display: inline;
  margin-right: 24px;

 color: #FFF; 
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 

}

 