


.header-section{
  width:100%;
height: auto;
background: #264653;
background-size: cover;
}


.nav-logo img {
  
  width: 30%;
}
.nav-section{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav-menu a{
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-right: 36px;
}

.log{
  padding: 5px 15px;
  border-radius: 5px;
background: #E76F51;
}

.bannar-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.bannar-title h6{
  color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; 
margin: 0;
}

.bannar-title h1{
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.bannar-title{
  width: 456px;
  color: #E0E0E0;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-align: left;
margin: 0;
}

/* slider releted style */

.slider-img img{
  width: 288px;
height: 243px;
margin-right: 138px;
}
.main-slider{
 display: flex;
 justify-content: center;
 align-items: center;
}

.slider-containar h1{
  color: #000;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 48px;
font-weight: 600;
margin: 0;
margin-top: 64px;
}

.slider-containar h6{
  color: #E76F51;
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-weight: 600;
text-align: center;
margin: 0;
margin-bottom: 80px;


}